html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 20px;
  background-color: antiquewhite;
}

h1 {
  font-size:larger;
}

h2 {
  font-size:larger;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 15px;
}

header p {
  font-size: 25px;
}

aside {
  background-color: antiquewhite;
}

article {
  background-color: rgb(250, 247, 242);
}

article, aside, footer {
  padding: 15px;
}

ul {
  list-style: none;
}

footer {
  font-size: small;
}