body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 30px;
  background-color: darkseagreen;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 400px;
  box-shadow: 5px 5px 5px #125b47;
}

p {
  text-shadow: 5px 5px 5px #125b47;
}

button {
  height: 35px;
  width: 80px;
  border-radius: 25px;
}
