
body{
  max-width: 80%;
  margin: 40px auto;
  background-color: #034422;
}

header, form {
  background-color: #E1F2D5;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}

#my-date {
  width: 40%;
}