ol li {
    background-color: yellow;
}

.par {
    color: green;
}

.impar {
    text-transform: uppercase;
}

/*Esta opção deixa o html mais limpo!

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
} */