ol li {
    background-color: yellow;
}

.par {
    color: green;
}

.impar {
    text-transform: uppercase;
}

/*Esta opção deixa o html mais limpo!

ol li:nth-of-type(even) {
    color: green;
}

ol li:nth-of-type(odd) {
    text-transform: uppercase;
} */

h1, h2, h3 {
    color: red;
}

h1 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}


/* Para os requisitos 4 e 5 tive que olhar no gabarito para entender como funciona. Muito interessante... sigo aprendendo! */

#linguagens li:not(:nth-child(n + 4)) {
    color: blue;
  }
  
.pink-bg {
background-color: pink;
}

#linguagens li::after[content="java*"] {
    color: orange;
  }

#aliados li a:hover {
font-weight: 700;
}

#aliados li a[href*="stackoverflow"] {
color: orange;
}

#aliados li a[href*="w3schools"] {
color: green;
}

#aliados li a[href*="mozilla"] {
color: black;
}

#aliados li a[href*="devdocs"] {
color: yellow;
}

#aliados li a[href*="trybe"] {
color: green;
}






